# Jekyll build artifacts
_site/
.jekyll-cache/
.jekyll-metadata

# Sass/SCSS cache
.sass-cache/

# Bundler / Ruby
.bundle/
vendor/bundle/

# Logs and temporary files
*.log
tmp/

# OS junk
.DS_Store
Thumbs.db

