---
layout: default
---

<article class="post">
  <header class="post-header">
    <div class="container">
      <p class="post-page-time">
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
        {% if page.reading_time %}
        <span aria-hidden="true">&middot;</span>
        <span>{{ page.reading_time }}</span>
        {% endif %}
      </p>
      <p class="post-page-title">{{ page.title }}</h2>
      {% if page.subtitle %}
      <p class="post-page-subtitle">{{ page.subtitle }}</p>
      {% endif %}
    </div>
  </header>

  <div class="post-content">
    <div class="container">
      <div class="blog-content">
        {{ content }}
      </div>
    </div>
  </div>

  <footer class="post-footer">
    <div class="container" style="margin: 2rem auto; text-align: right;">
      <a class="text-link" style="text-decoration: none;" href="{{ "/blog" | relative_url }}">← Back to all posts</a>
    </div>
  </footer>
</article>

